.Onway{
    /* width: 50vw; */
    margin: auto;
    /* border: 2px solid black; */

}
.Onway .ecoactiv-logo{
    margin: 50px auto;
}
.Onway h2{
    background-color: #3DB54C;
    padding: 15px;
    text-align: center;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;

}
.Onway .parcelBag img{
    position: relative;
    bottom: 60px;
}
.Onway .parcelBag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px !important;
    background-color: #EDFBEE;
}
.Onway-data{
    /* padding:30px 150px ; */
}
.Onway-data p{
    margin: 20px 0px;
}
.Onway-data .btn{
    background-color: #0A192B;
    color: #ffff;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: bold;
}